body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.box {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  text-align: center;
  border: 2px solid #f39c12;
  border-radius: 50px;
}
.box h1 {
  color: orange;
  font-weight: 500;
}
.box input[type="email"],
.box input[type="password"] {
  border: 0;
  background: none;
  margin: 20px auto;
  text-align: center;
  display: block;
  border: 2px solid #8e44ad;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: black;
  border-radius: 20px;
  transition: 0.25s;
}
.box input[type="email"]:focus,
.box input[type="password"]:focus {
  width: 250px;
  border-color: #2ecc71;
}
.box input[type="submit"] {
  border: 0;
  background: none;
  margin: 20px auto;
  text-align: center;
  display: block;
  border: 2px solid #c0392b;
  padding: 14px 40px;
  outline: none;
  color: black;
  border-radius: 20px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type="submit"]:hover {
  background: #e67e22;
}
.box input[type="checkbox"] {
  border: 2px solid;
}
img {
  width: 70px;
}
